# ignore build folder:
target

# ignore font binaries in master branch:
Scalig*.otf
Scalig*.ttf
Rsutlig*.otf
Rustlig*.ttf

RomanMasters/colors_0
RomanMasters/colors_1
RomanMasters/colors_2
ItalicMasters/colors_0
ItalicMasters/colors_1
ItalicMasters/colors_2
